@use 'variables' as *;
@use 'modules/typography' as *;
@use 'modules/layout' as *;
@use 'modules/counter' as *;
@use 'modules/quiz' as *;
@use 'modules/modal' as *;
@use 'modules/gallery' as *;
@use 'modules/animations' as *;

body {
  margin: 0;
  font-family: $font-text;
  background-color: $cream;
  color: $deep-wine;
  font-weight: 300;
}
