@use '../variables' as *;

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.animated-reveal {
  animation: reveal 2s ease forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    filter: blur(10px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

.modal-fade-leave-active {
  transition: opacity 1s ease;
}

.modal-fade-leave-to {
  opacity: 0;
}
